@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-image: url(./images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
}

section p {
  color: hsl(201, 11%, 66%);
  font-size: 14px;
}

section h3, h2 {
  color: hsl(210, 10%, 33%);
  padding: 20px 0;
  font-size: 31px;
}

section h4 {
  color: hsl(210, 10%, 33%);
}

section header {
  margin: 90px 32% 0;
  text-align: center;
}

header p {
  padding-bottom: 20px;
}

button {
  padding: 10px 30px;
  border: none;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.20);
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.40);
}

button:nth-child(1) {
  background-color: hsl(171, 66%, 44%);
}

button:nth-child(2) {
  background-color: hsl(233, 100%, 69%);
}

.track {
  text-align: center;
  padding-bottom: 50px;
}

.track h3 {
  font-size: 26px;
}

.track p {
  line-height: 1.6;
}

.computer {
  display: flex;
  padding-bottom: 50px;
}

.computer-right {
  padding-left: 80px;
  line-height: 1.6;
  padding-top: 70px;
}

.computer-right .one {
  padding-bottom: 50px;
}

.device {
  text-align: center;
}

.device p {
  line-height: 1.5;
  padding-bottom: 50px;
}

.supercharge {
  text-align: center;
}

.supercharge h3 {
  font-size: 26px;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 150px;
  line-height: 1.7;
  padding-bottom: 50px;
}

.charge:nth-child(1) {
  padding-top: 18px;
}

.icon ul {
  margin: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: ;
  padding-bottom: 50px;
}

.clipboard {
  text-align: center;
  padding-bottom: 30px;
}

.clipboard h3 {
  font-size: 26px;
}

.btn {
  text-align: center;
  padding-bottom: 70px;
}

footer {
  background-color: hsl(204, 38%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

footer img {
  cursor: pointer;
}

.social img {
  padding-right: 10px;
}

footer .social img:hover {
  color: hsl(171, 66%, 44%);
}

.footer1 {
  display: flex;
  padding: 10px 60px;
}

.footer1 ul {
  list-style: none;
  color: hsl(210, 10%, 33%);
  padding-right: 70px;
  font-size: 14px;
  line-height: 1.8;
} 

.footer1 li {
  cursor: pointer;
}

.footer1 li:hover {
  color: hsl(171, 66%, 44%);
}

@media screen and (max-width: 940px) {
  button {
    margin-top: 12px;
  }
}

@media screen and (max-width: 600px) {

  section {
    text-align: center;
    width: 100%;
    /* padding: 30px; */
  }
  
  header h2 {
    font-size: 20px;
    line-height: 1.6;
  }
  header p {
    font-size: 11px;
    line-height: 1.6;
  }
  button {
    margin-top: 12px;
    padding: 8px 30px;
    font-size: 12px;
    flex-direction: column;
  }
  .track h3 {
    font-size: 22px;
    text-align: center;
  }
  .track p {
    font-size: 12px;
  }
  .computer {
    flex-direction: column;
  }
  .computer .one {
    text-align: center;
  } 
  .computer img {
    width: 100%;
  }
  .computer-right {
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-left: 30px;
  }
  .computer-right p {
    font-size: 12px;
  }
  .device {
    text-align: center;
  }
  .device img {
    width: 100%;
    text-align: center;
  }
  .device p {
    font-size: 12px;
  }
  .device h3 {
    font-size: 20px;
  }
  .supercharge h3 {
    font-size: 18px;
  }
  .supercharge p {
    font-size: 14px;
  }
  .middle {
    flex-direction: column;
    /* text-align: center; */
    /* margin-bottom: 10px; */
  }
  .middle h4 {
    font-size: 16px;
  }
  .charge {
    margin-top: 50px;
    text-align: center;
  }
  .charge p {
    font-size: 12px;
  }
  .icon {
    text-align: center;
  }
  .icon ul {
    flex-direction: column;
    gap: 30px;
    /* text-align: center; */
  }
  .clipboard h3 {
    font-size: 16px;
  }
  .clipboard p {
    font-size: 12px;
  }
  footer {
    /* display: flex; */
    width: 100%;
  }
  .footer1 {
    flex-direction: column;
    text-align: center;
  }
  .footer1 img {
    text-align: center;
  }
  .footer1 ul {
    margin-top: 20px;
  }

}

